
.button {
    background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
.button:hover {
    border: black;
    color: black;
    background-color: gray;

  }

#generate{
    background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Arial, sans-serif;

}
#solve{
    background-color: #555555;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Arial, sans-serif;

}
h1{
    text-align: center;
	font-family: Arial, sans-serif;
  font-weight: normal;
  font-size: 40px;

}

h{
    font-family: Arial, sans-serif;
      font-weight: normal;
      font-size: 20px;
    
    }