
/* @import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;800&display=swap'); */

form{
  text-align: center;
  padding: 10px;
}

.slider {
  display: block;
  margin: 0 auto;
  
}

.grid-container {
  padding: 30px;
  display: grid;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.grid-item {
  border: 1px solid;
}

.grid-item-top {
  border-top: 2px solid;
}

.grid-item-left {
  border-left: 2px solid;
}

.grid-item-right {
  border-right: 2px solid;
}

.grid-item-bottom {
  border-bottom: 2px solid;
}


h1 {
  text-align: center;
  margin: auto;
}

.body {
  padding: 20px;
}

/*
body{
  background-color: gray;
}

.button {
    background-color: #555555;
  border: none;
  color: yellow;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;

}
.button:hover {
    border: black;
    color: black;
    background-color: 	#C0C0C0;

  }

#generate{
    background-color: #555555;
  border: none;
  color: yellow;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;

}

#generate:hover{
  border: black;
  color: black;
  background-color: 	#C0C0C0;
}

#solve{
    background-color: #555555;
  border: none;
  color:yellow;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Karla', sans-serif;

}

#solve:hover{
  border: black;
  color: black;
  background-color: 	#C0C0C0;
}


h1{
    text-align: center;
    font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 50px;
  color: yellow;

}

h{
    font-family: 'Karla', sans-serif;
      font-weight: normal;
      font-size: 20px;
    
    } */

